.first-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    text-align: center;
}

.first-user-description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.first-user input[type="password"],
.first-user input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}