@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
}

button {
    background: rgb(240,240,240);
    color: black;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    line-height: 0.5em;
    cursor: pointer;
}

button:hover {
    background: rgb(230,230,230);
}

button:disabled {
    color: rgb(180,180,180)
}

.masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    padding: 1rem;
    border-bottom: 1px dotted black;
}

.masthead-menu {
    cursor: pointer;
}

.masthead-menu-mobile {
    display: none;
}

.masthead-menu-mobile > div {
    padding-bottom: 2rem;
}

.content {
    margin: 1rem;
}

@media screen and (max-width: 800px) {
    .content {
        margin: 0
    }

    .masthead-menu-mobile {
        position: absolute;
        padding: 1.5rem 2rem 0;
        background: white;
        border-left: 0.75px dotted black;
        border-bottom: 0.75px dotted black;
        right: 0;
        top: 4.5rem;
    }
}