.qs-datepicker-container {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}

.time-page {
    max-width: 800px;
    margin: 0 auto;
}

.time {
    margin-top: 1rem;
}

.time-date {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.time-control {
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
    justify-content: space-between;
}

.time-previous, .time-next, .time-today {
    color: gray;
    cursor: pointer;
}

.time-week {
    margin: 0.5rem auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.5px dotted black;
}

.time-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-date-calendar {
    margin: 0 0.5rem;
    cursor: pointer;
}

.time-day-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.time-day-box:hover {
    background: lightgray;
    cursor: pointer
}

.time-day-box:not(:last-child) {
    padding: 0.75rem 0;
    border-right: 0.5px dotted gray;
}

.time-day {
    color: lightgray;
}

.time-day-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem;
}

.time-day-current {
    background: lightgray;
}

@media screen and (max-width: 800px) {
    .time-week {
        margin: 0.5rem 0 1rem
    }

    .time-day-total-label {
        display: none;
    }
}